<header class="header-area">
    <div id="home" class="header-hero bg_cover d-lg-flex align-items-center"
        style="background-image:url(assets/images/bg.png)">

        <div class="shape shape-1">
            <img src="assets/images/carrito.png" alt="">
        </div>
        <div class="shape shape-2">
            <img src="assets/images/Vector-1.png" alt="">
        </div>
        <div class="shape shape-3">
            <img src="assets/images/compra.png" alt="">
        </div>
        <div class="shape shape-4">
            <img src="assets/images/shopping.png" alt="">
        </div>

        <div class="container">
            <div class="row align-items-center justify-content-center justify-content-lg-between">
                <div class="col-lg-6 col-md-10">
                    <div class="header-hero-content">
                        <h3 class="header-title wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.2s">
                            COMPRA Y VENDE CERCA DE TI</h3>
                        <p class="text wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.6s">Trafalgar
                            provides progressive, and affordable
                            healthcare, accessible on mobile and online
                            for everyone</p>
                        <ul class="d-flex">
                            <li><a class="app-store wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.8s" href="#"><img src="assets/images/app-store.png"
                                        alt="store"></a></li>
                            <li><a class="app-store wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.8s" href="#"><img src="assets/images/play-store.png"
                                        alt="store"></a></li>
                        </ul>
                    </div> <!-- header hero content -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-10">
                    <div class="header-image">
                        <img src="assets/images/header-app.png" alt="app" class="image wow fadeInRightBig"
                            data-wow-duration="1.3s" data-wow-delay="0.5s">
                    </div> <!-- header image -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div class="header-shape-1">
            <img src="assets/images/vedc.png" alt="shape">
        </div> <!-- header shape -->
        <div class="header-shape-2">
            <img src="assets/images/Vector.png" alt="shape">
        </div> <!-- header shape -->
    </div> <!-- header hero -->
</header>