<section id="support" class="support">
    <div class="container">
        <div class="row">
            <!-- Column -->
            <div class="col-lg-6 col-md-9 wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.5s">
                <h1 class="title-support">Soporte</h1>
                <p class="mt-50 text-support">We have created a new product that will help designers, developers and
                    companies create websites for their startups quickly and easily.</p>

                <div class="mt-20 icon">
                    <p><span class="iconify" data-icon="ic:round-call" data-inline="false"></span>+1 555 505 5050
                    </p>
                    <p><span class="iconify" data-icon="clarity:email-solid"
                            data-inline="false"></span>info@designmodo.com</p>
                    <p><span class="iconify" data-icon="clarity:building-line" data-inline="false"></span>San
                        Francisco, CA560 Bush St & 20th Ave</p>

                </div>

            </div>
            <div class="col-lg-6 contact wow fadeInRightBig">

                <div class="container-support">

                    <form id="contact" action="#" method="post">
                        <textarea placeholder="Mensaje" required="required"></textarea>
                        <div class="left">
                            <input type="text" placeholder="Email" required="required" />
                        </div>
                        <div class="right">
                            <div class="send-button cl">
                                <button type="submit">Enviar</button>
                            </div>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>
</section>