<section id="features" class="pt-40 ">
    <div class="spacer feature1">
        <div class="container">
            <!-- Row -->
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section-title text-center pb-45">
                        <h3 class="title">¡Comprar y vender es muy fácil!</h3>
                    </div>
                </div>
            </div>

            <!-- Row  -->
            <div class="row m-t-40">
                <!-- Column -->
                <div class="col-md-4 wrap-feature1-box">
                    <div class="card" data-aos="fade-right" data-aos-duration="1200">
                        <div class="card-body text-center">
                            <div class="icon-space"><img src="assets/images/audio.png" alt=""></div>
                            <h5 class="text">Soporte 24/7</h5>
                            <p class="m-t-20">You can relay on our amazing features list and also our customer
                                services will be great experience.</p>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-md-4 wrap-feature1-box">
                    <div class="card" data-aos="fade-up" data-aos-duration="1200">
                        <div class="card-body text-center">
                            <div class="icon-space"><img src="assets/images/notification.png" alt=""></div>
                            <h5 class="text">Notificaciones directo a tu celular</h5>
                            <p class="m-t-20">You can relay on our amazing features list and also our customer
                                services will be great experience.</p>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-md-4 wrap-feature1-box">
                    <div class="card" data-aos="fade-left" data-aos-duration="1200">
                        <div class="card-body text-center">
                            <div class="icon-space"><img src="assets/images/chat.png" alt=""></div>
                            <h5 class="text">Chat directo comprador-vendedor</h5>
                            <p class="m-t-20">You can relay on our amazing features list and also our customer
                                services will be great experience.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>