<section id="download" class="download-area ">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-md-9">
                <div class="download-image mt-50 wow fadeInRightBig" data-wow-duration="1.3s" data-wow-delay="0.2s">
                    <img class="image1" src="assets/images/download.png" alt="download">
                    <img class="image2" src="assets/images/image.png" alt="download">

                </div> <!-- download image -->
            </div>
            <div class="col-lg-6">
                <div class="download-content mt-45 wow fadeInLeftBig" data-wow-duration="1.3s"
                    data-wow-delay="0.5s">
                    <h3 class="download-title">¡Comienza a usar la app, es gratis!</h3>
                    <br><br>
                    <ul class="">
                        <li><a class="app-store" href="#"><img src="assets/images/app-store.png" alt="store"></a>
                        </li>
                        <li><a class="play-store" href="#"><img src="assets/images/play-store.png" alt="store"></a>
                        </li>
                    </ul>
                </div> <!-- download image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>