@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400,500,600,700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #747E88;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a:focus, input:focus, textarea:focus, button:focus {
  text-decoration: none;
  outline: none;
}

a:focus, a:hover {
  text-decoration: none;
}

i, span, a {
  display: inline-block;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #38424D;
  margin: 0px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #747E88;
  margin: 0px;
}

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

/*===== All Button Style =====*/

.main-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid #0898E7;
  padding: 0 25px;
  font-size: 16px;
  height: 55px;
  line-height: 51px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  background-color: #0898E7;
}

.main-btn:hover {
  background-color: rgba(8, 152, 231, 0.7);
  color: #fff;
  border-color: transparent;
}

.main-btn.main-btn-2 {
  background-color: transparent;
  color: #525A63;
  border-color: #525A63;
}

.main-btn.main-btn-2:hover {
  background-color: rgba(82, 90, 99, 0.5);
  color: #525A63;
}

@keyframes animation1 {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes animation1 {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

/*===== All Section Title Style =====*/

.section-title .title {
  font-size: 35px;
  font-weight: 600;
}

.title::before {
  content: "";
  position: absolute;
  top: 50px;
  height: 2px;
  width: 50px;
  background: #000;
  left: 50%;
  transform: translate(-50%, 50%)
}


.section-title .text {
  margin-top: 20px;
}

/*===== All Slick Slide Outline Style =====*/

.slick-slide {
  outline: 0;
}

/*===========================
      02.HEADER css 
===========================*/

/*===== NAVBAR =====*/

.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.sticky {
  position: fixed;
  z-index: 99;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.sticky .navbar {
  padding: 10px 0;
}

.container-fluid{
  padding: 0 30px;
}

.navbar {
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 35px 0;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  max-width: 150px;
}

.navbar-toggler {
  padding: 0;
}

.navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #222;
  display: block;
  margin: 5px 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}

.navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}

.navbar-nav .nav-item {
  margin-left: 45px;
  position: relative;
}

.navbar-nav .nav-item:first-child {
  margin-left: 0;
}

.navbar-nav .nav-item a {
  font-size: 15px;
  font-weight: 600;
  color: #38424D;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  position: relative;
}

.navbar-nav .nav-item.active>a, .navbar-nav .nav-item:hover>a {
  color: #0898E7;
}

.navbar-nav .nav-item:hover .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.navbar-nav .nav-item .sub-menu {
  width: 200px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 110%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item .sub-menu li {
  display: block;
}

.navbar-nav .nav-item .sub-menu li a {
  display: block;
  padding: 8px 20px;
  color: #222;
}

.navbar-nav .nav-item .sub-menu li a.active, .navbar-nav .nav-item .sub-menu li a:hover {
  padding-left: 25px;
  color: #0898E7;
}

.navbar-nav .sub-nav-toggler {
  display: none;
}

.navbar-nav .sub-nav-toggler span {
  width: 8px;
  height: 8px;
  border-left: 1px solid #222;
  border-bottom: 1px solid #222;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  top: -5px;
}

/*===== HEADER HERO =====*/

.header-hero {
  position: relative;
  z-index: 5;
  background-position: bottom center;
  height: 650px;
}

.header-hero .shape {
  position: absolute;
}

.header-hero .shape.shape-1 {
  width: 60px;
  height: 30px;
  left: 90%;
  top: 30%;
  -webkit-animation: animation1 2s linear infinite;
  -moz-animation: animation1 2s linear infinite;
  -o-animation: animation1 2s linear infinite;
  animation: animation1 2s linear infinite
}

.header-hero .shape.shape-2 {
  width: 50px;
  height: 30px;
  left: 90%;
  top: 60%;
  -webkit-animation: animation1 2s linear infinite;
  -moz-animation: animation1 2s linear infinite;
  -o-animation: animation1 2s linear infinite;
  animation: animation1 2s linear infinite
}

.header-hero .shape.shape-3 {
  width: 60px;
  height: 30px;
  left: 55%;
  top: 40%;
  -webkit-animation: animation1 2s linear infinite;
  -moz-animation: animation1 2s linear infinite;
  -o-animation: animation1 2s linear infinite;
  animation: animation1 2s linear infinite
}

.header-hero .shape.shape-4 {
  width: 50px;
  height: 30px;
  left: 55%;
  top: 70%;
  -webkit-animation: animation1 2s linear infinite;
  -moz-animation: animation1 2s linear infinite;
  -o-animation: animation1 2s linear infinite;
  animation: animation1 2s linear infinite
}

.header-hero .shape.shape-5 {
  width: 19px;
  height: 19px;
  background-color: rgba(108, 99, 255, 0.55);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20%;
  border-radius: 50%;
  -webkit-animation: animation1 2s linear infinite;
  -moz-animation: animation1 2s linear infinite;
  -o-animation: animation1 2s linear infinite;
  animation: animation1 2s linear infinite;
}

.header-hero .shape.shape-6 {
  width: 14px;
  height: 14px;
  background-color: rgba(235, 163, 26, 0.55);
  border-radius: 50%;
  left: 45%;
  bottom: 70px;
  -webkit-animation: animation1 2s linear infinite;
  -moz-animation: animation1 2s linear infinite;
  -o-animation: animation1 2s linear infinite;
  animation: animation1 2s linear infinite;
}

.header-shape-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  z-index: -1;
  top: 70% ;
  background-repeat: no-repeat;
}

.header-shape-1 img{
  width: 100%;
}


.header-shape-2 {
  position: absolute;
  top: 80%;
  width: 100%;
  background-position: center;
  z-index: -1;
  background-repeat: no-repeat;
}

.header-shape-2 img{
  width: 100%;
  
}

.header-hero-content {
  position: relative;
  z-index: 9;
  width: 100%;
}


.header-hero-content .header-title {
  font-size: 42px;
  color: #fff;
}

.wave{
  width: 100%;
}

.header-hero-content .text {
  margin-top: 30px;
  font-size: 20px;
  color: #fff;
}

.header-hero-content ul {
  margin-top: 30px;
}

.header-hero-content ul li {
  margin-left: 50px;
}

.header-hero-content ul li:first-child {
  margin-left: 0;
}

.header-hero-content .main-btn {
  margin-top: 10px;
}

.header-hero-content .header-video {
  margin-top: 15px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  border-radius: 50%;
  background-color: #0898E7;
  position: relative;
  z-index: 5;
}

.header-hero-content .header-video::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(8, 152, 231, 0.8);
  top: 0;
  left: 0;
  -webkit-animation: video 2s linear infinite;
  -moz-animation: video 2s linear infinite;
  -o-animation: video 2s linear infinite;
  animation: video 2s linear infinite;
  z-index: -1;
}

.header-image {
  padding-top: 80px;
  position: relative;
  z-index: 5;
}

.header-image .image {
  width: 70%;
}

.header-image .image-shape {
  position: absolute;
  bottom: -100px;
  left: -115px;
  z-index: -1;
}

.header-image .image-shape img {
  max-width: 350px;
}



@keyframes video {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0;
  }
}

@-webkit-keyframes video {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0;
  }
}

.single-services {
  -webkit-box-shadow: 0 0 10px 0 rgba(154, 154, 154, .16);
  -moz-box-shadow: 0 0 10px 0 rgba(154, 154, 154, .16);
  box-shadow: 0 0 10px 0 rgba(154, 154, 154, .16);
  -webkit-transition: all .3s ease-out 0s;
  -moz-transition: all .3s ease-out 0s;
  -ms-transition: all .3s ease-out 0s;
  -o-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
  padding: 45px 25px 35px
}



.single-services .services-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  text-align: center
}

.single-services .services-icon::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  border-radius: 50%;
  z-index: -1
}

.single-services .services-content {
  margin-top: 35px
}

.single-services .services-content .services-title a {
  font-size: 25px;
  font-weight: 500;
  color: #222;
  -webkit-transition: all .3s ease-out 0s;
  -moz-transition: all .3s ease-out 0s;
  -ms-transition: all .3s ease-out 0s;
  -o-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s
}

.single-services .services-content .text {
  margin-top: 30px
}

.single-services:hover {
  -webkit-box-shadow: 0 15px 17px 0 rgba(154, 154, 154, .16);
  -moz-box-shadow: 0 15px 17px 0 rgba(154, 154, 154, .16);
  box-shadow: 0 15px 17px 0 rgba(154, 154, 154, .16)
}

.about-area {
  background-color: #f3fdff;
  overflow: hidden
}

.about-image {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-left: 50px;
  padding-top: 100px;
  padding-bottom: 100px
}



.screenshot-frame {
  position: absolute;
  top: 18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 335px;
  height: 100%;
  z-index: 5
}

.screenshot-frame img {
  border-radius: 10px
}

.swiper-slide {
  width: 220px;
  height: auto;
  -webkit-box-shadow: 4px 5px 18px 0 rgba(110, 112, 113, .32);
  -moz-box-shadow: 4px 5px 18px 0 rgba(110, 112, 113, .32);
  box-shadow: 4px 5px 18px 0 rgba(110, 112, 113, .32);
  margin-top: 30px;
  margin-bottom: 30px
}

.swiper-slide img {
  width: 100%
}

.swiper-slide-active.swiper-slide {
  border-radius: 10px;
  overflow: hidden
}

.swiper-pagination {
  bottom: 0!important;
  padding-top: 42px;
  position: relative;
  z-index: 99
}

.swiper-pagination .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  border: 2px solid #000000;
  background: 0 0;
  opacity: 1
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #000
}

/*******************
Feature 1
*******************/

.wrap-feature1-box .card-body {
  padding: 20px;
  line-height: 30px;
}

.wrap-feature1-box .card-body .icon-space {
  font-size: 55px;
}

.icon-space {
  margin: 20px 0;
}

.card {
  border: 0px;
  margin-bottom: 30px;
}

.card .text {
  font-size: 17px;
  color: #000;
  padding: 20px 0;
}

/* Download */

.download-area {
  overflow: hidden
}

.download-area .download-image {
  padding-top: 65px;
  padding-left: 60px;
  padding-bottom: 60px;
  position: relative;
}

.download-area .download-image .image1 {
  width: 420px;
  z-index: -1;
}

.download-content .download-title {
  font-size: 34px;
  font-weight: 600
}

.download-title::before {
  content: "";
  position: absolute;
  background: #000;
  height: 2px;
  width: 50px;
  margin-top: 100px;
}



.download-content .text {
  margin-top: 35px
}

.download-content ul {
  padding-top: 35px
}

.download-content ul li {
  display: inline-block;
  margin-top: 15px
}

.help-section {
  background: url(../images/help-bg.png) no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-attachment: fixed;
  background-size: cover;
  background-position: center 0;
  height: 600px;
  position: relative;
}

.help-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.list-group {
  position: relative;
}

.iconify {
  width: 24px;
  height: 24px;
}

.title-help {
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 56px;
  color: #fff;
  padding-bottom: 25px;
  text-align: center;
}

.support {
  padding-top: 100px;
  padding-bottom: 60px;
  position: relative;
}

.support .title-support {
  font-weight: bold;
  font-size: 42px;
  line-height: 52px;
  /* or 124% */
  letter-spacing: -0.4px;
  color: #000000;
}

.support .text-support {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  /* or 145% */
  mix-blend-mode: normal;
  color: #000000;
}

.support .icon p {
  padding: 20px 0;
  color: #000;
}

.support .iconify {
  margin-right: 20px;
}

.contact {
  padding-top: 100px;
}

/* 
*/

#contact input[type="text"], #contact textarea {
  display: block;
  padding: 10px;
  margin: 10px auto;
  margin-left: 5px;
  width: 100%;
  font-size: 18px;
  color: #777;
  border: 1px solid #ccc;
  background: #FFF;
  border: 2px solid #EBEAED;
  box-sizing: border-box;
}

#contact input {
  border-radius: 50px;
}

#contact textarea {
  font-size: 16px;
}

#contact input:hover, #contact textarea:hover {
  border: 1px solid #888;
}

#contact input:focus, #contact textarea:focus {
  border: 1px solid #777;
}

#contact textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 180px;
  min-height: 180px;
  resize: none;
  border-radius: 10px;
}

#contact .send-button {
  text-align: center;
}

#contact .send-button button[type="submit"] {
  color: #000;
  background: #59D2FA;
  border: none;
  margin: 10px auto;
  width: 100%;
  padding: 13px 0;
  font-size: 15px;
  transition: 0.5s all ease;
  cursor: pointer;
  border-radius: 50px;
}

#contact .send-button button[type="submit"]:hover {
  background: #59D2FA;
}

#contact .send-button button[type="submit"]:focus {
  position: relative;
  top: 2px;
}

/* TOP */

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 999;
}
#return-to-top .iconify {
  color: #fff;
  margin: 0;
  position: relative;
  left: 13px;
  top: 11px;
  font-size: 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover .iconify {
  color: #fff;
  top: 5px;
}



.footer h5{
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 60px;
color: #FFF;
} 

.footer a img{
    width: 60%;
}

.footer p{
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
/* or 156% */


color: #FFFFFF;

mix-blend-mode: normal;
width: 80%;
}

.footer ul li{
  font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 30px;
/* or 211% */


color: #FFFFFF;

mix-blend-mode: normal;
}

/* MEDIA RESPONSIVE*/


@media screen and (min-width: 1230px) {
  .container-support {
    width: 600px;
  }
  #contact textarea {
    max-width: 98%;
    min-width: 98%;
    min-height: 152px;
    margin-right: 0;
  }
  #contact .send-button button[type="submit"] {
    width: 80%;
  }
  #contact .right, #contact .left {
    display: block;
  }
  #contact .right {
    float: right;
    width: 30%;
  }
  #contact .left {
    float: left;
    width: 70%;
  }
  .cl {
    clear: both;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-nav .nav-item {
    margin-left: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .shape {
    display: none;
  }
  .header-image .image {
    width: 100%
  }
  .header-shape-1 {
    width: 100%;
    top: 90%;
  }
  .header-shape-2 {
    width: 100%;
    top: 95%;
  }
  .header-hero {
    height: auto;
  }
  .header-hero-content {
    padding-top: 150px;
    width: 100%;
  }
}

/* @media only screen and (min-width: 1400px) {
  .header-hero {
    height: 900px;
  }
  .header-image .image {
    width: 100%
  }
} */


@media(min-width:1300px){

  .header-shape-1 {
    top: 60%;
  }

  .header-shape-2 {
    top: 80%;
  }

}

@media (min-width: 1850px){
  .header-shape-1 {
    top: 50%;
  }

  .header-shape-2 {
    top: 70%;
  }
}

@media (min-width: 2300px){
  .header-shape-1 {
    top: 40%;
  }

  .header-shape-2 {
    top: 60%;
  }
}

@media (min-width: 3000px){
  .header-shape-1 {
    top: 25%;
  }

  .header-shape-2 {
    top: 50%;
  }
}

@media (min-width: 3300px){
  .header-shape-1 {
    top: 10%;
  }

  .header-shape-2 {
    top: 40%;
  }

  .shape {
    display: none;
  }
}

@media (min-width: 3300px){
  .header-shape-1 {
    top: 0%;
  }
  

  .header-shape-2 {
    top: 30%;
  }

  .shape {
    display: none;
  }
}

@media (min-width: 4000px){
  .header-shape-1 {
    display: none;
  }
  

  .header-shape-2 {
    display: none;
  }

  .shape {
    display: none;
  }
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .shape {
    display: none;
  }
  .header-image .image {
    width: 80%
  }
  .header-shape-1 {
    width: 100%;
    top: 70%;
  }
  .header-shape-2 {
    width: 100%;
    top: 80%;
  }
  .header-hero-content .header-title {
    font-size: 36px;
  }
  .navbar-nav .nav-item a {
    font-size: 13px;
    padding: 4px 0;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(56, 66, 77, 0.1);
    -moz-box-shadow: 0px 15px 20px 0px rgba(56, 66, 77, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(56, 66, 77, 0.1);
    padding: 5px 12px;
  }
  .navbar-nav .nav-item {
    margin: 0;
  }
  .navbar-nav .nav-item a {
    display: block;
    padding: 4px 0;
  }
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}

@media(max-width:767px) {

  .shape {
    display: none;
  }
  .header-hero {
    height: auto;
  }
  .header-hero-content {
    padding-top: 120px;
  }
  .header-hero-content .header-title {
    font-size: 22px;
  }
  .header-image .image {
    width: 100%
  }
  .header-image .image-shape {
    left: -90px;
  }
  .header-image .image-shape img {
    max-width: 250px;
  }
  .header-shape-1 {
    width: 100%;
    top: 90%;
  }
  .header-shape-2 {
    width: 100%;
    top: 95%;
  }

  .single-services {
    padding: 40px 20px 30px
  }

  .section-title .title {
    font-size: 22px;
  }

  .download-content .download-title {
    font-size: 22px
  }

  .download-area .download-image .image {
    max-width: 100%
  }

  .about-image .about-shape {
    width: 294px;
    height: 294px
  }

  .download-area .download-image {
    padding-left: 20px;
    padding-right: 20px
  }

  .about-image {
    margin-left: 0;
    padding-top: 65px;
    padding-bottom: 45px
  }

  .single-services .services-content .services-title a {
    font-size: 20px
  }
}

@media only screen and (min-width:576px) and (max-width:767px) {

  .section-title .title {
    font-size: 26px;
  }

  .download-area .download-image .image {
    max-width: 295px
  }
  .download-content .download-title {
    font-size: 28px;
    /* padding: 0 10px; */

  }

  .download-content ul{
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .header-hero-content .header-title {
    font-size: 38px;
  }
  .header-image .image {
    width: 100%
  }

}


@media only screen and (max-width: 360px) {

  .header-image .image {
    width: 100%
  }
  .header-image {
    padding-top: 10px;
  }
} 

@media only screen and (max-width: 310px) {

  .header-image .image {
    width: 80%
  }
}