<!--====== NAVBAR ======-->

<app-navbar></app-navbar>

<!--====== HEADER PART START ======-->

<app-header></app-header>

<!--====== SERVICES PART START ======-->

<app-services></app-services>

<!--====== SCREENSHOTS PART START ======-->

<app-screenshots></app-screenshots>

<!--====== FEATURES PART START ======-->

<app-features></app-features>

<!--====== DOWNLOAD PART START ======-->

<app-download></app-download>

<!--====== HELP PART START ======-->
<app-help></app-help>

<!--====== SUPPORT PART START ======-->

<app-support></app-support>

<!-- Back to top -->
<!-- ============================================================== -->
<a href="javascript:" id="return-to-top"><span class="iconify" data-icon="bi:arrow-bar-up" data-inline="false"></span></a>

<!-- ============================================================== -->


<!--====== FOOTER ======-->

<app-footer></app-footer>